.main_title {
  margin-top: 30px;
  margin-left: 40px;
  margin-bottom: 60px;
  font-size: 30px;
  font-weight: 350;
}

.formulaire {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin-bottom: 100px;
  height: 100%;
}

.gauche {
  width: 30%;
  margin-left: 40px;
  height: 100%;
}

.droite {
  width: 70%;
}

.t1 {
  margin-bottom: 30px;
}

.img {
  width: 420px;
  height: 80%;
  border-radius: 15px;
  background-image: url("../../assets/images/about-img.png");
  background-size: cover;
  background-position: center;
}

form {
  display: flex;
  flex-direction: column;
}

.prenometnom,
.emailettelephone {
  display: flex;
  margin-bottom: 25px;
}

.prenometnom div,
.emailettelephone div {
  width: 50%;
  margin-right: 40px;
}

.message div {
  margin-right: 40px;
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 6px;
}

input,
textarea {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  font-weight: 300;
  font-family: "Lexend Deca", sans-serif;
  background-color: #d2beb4;
  border: none;
  border-radius: 14px;
}

.form_texta {
  height: 150px;
}

.form_btn {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 150px;
  margin-top: 20px;
  padding: 14px 26px;
  background-color: var(--color-accent);
  color: white;
  border: none;
  border-radius: 14px;
  font-size: 19px;
  cursor: pointer;
}
