.hero_container {
  display: flex;
  gap: 35px;

  margin-top: 30px;
  width: 100%;
  height: 575px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  width: 70%;

  background-image: url(./images/hero-banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: -91px 80px 32.5px 0 rgba(0, 0, 0, 0.25) inset,
    120px 150px 32.5px 0 rgba(0, 0, 0, 0.25) inset;
  border-radius: 21px;
  color: var(--color-background);
  padding: 40px 0 40px 35px;
}

.hero h1 {
  font-size: var(--text-size-h2);
  font-weight: 400;
  width: 35%;
}

.hero p {
  font-size: 100px;
  font-weight: 400;
  font-family: "Baumans";
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 30px;
  height: 100%;
  width: 500px;

  background-color: var(--color-accent);
  border-radius: 21px;
}

.product_info {
  display: flex;
  flex-direction: column;
  align-self: flex-start;

  gap: 10px;
  color: var(--color-background);
}

.product_tag {
  border-radius: 10px;
  border: 1px solid #ded9d9;
  background: rgba(255, 255, 255, 0.25);
  padding: 8px 10px 8px 10px;
  font-size: var(--text-size-p);
  width: fit-content;
}

.product_img {
  height: 260px;
  width: 260px;
}

.shop_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;

  padding-block: 18px;
  border-radius: 21px;
  background-color: var(--color-background);
  font-size: var(--text-size-h5);
}

.shop_btn svg {
  transform: translateX(0px);
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.shop_btn:hover svg {
  transform: translateX(7px);
}
