header {
  padding: 15px 15px 0 15px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 20px;
  border-radius: 12px;
  background-color: var(--color-bgNav-elements);
}

.nav_logo {
  font-family: "Baumans";
  font-weight: 400;
  font-size: var(--text-size-h2);
}

.nav_links {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 20px;
  font-size: 18px;
}

/* 1. Base style for the link */
.nav_links a {
  position: relative;
  padding-bottom: 3px;
}

/* 2. The Underline */
.nav_links a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: currentColor;

  transform: scaleX(0);
  transition: transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1);

  transform-origin: bottom right;
}

/* 3. Hover State */
.nav_links a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  transition-delay: 100ms;
}

.nav_shortcuts {
  display: flex;
  gap: 15px;
}

button {
  all: unset;
  cursor: pointer;
}
