footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  background-color: #976d59;
  color: #f6f4f2;
}

footer a {
  color: #f6f4f2;
  text-decoration: none;
  font-weight: 300;
}

footer h2 {
  font-size: 27px;
  font-weight: 400;
}
.footer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-block: 25px;
  padding-inline: 40px;
  width: 100%;
}

.footer_container > section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer_logo {
  font-family: "Baumans", sans-serif;
  font-size: 56px;
}

.section_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 170px;
}

.footer_sign {
  font-weight: 400;
  padding-block: 19px;
}

.footer_sign span {
  color: #d1bbb1;
}
