.error_main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  height: 100%;
}

.error_code {
  font-size: 120px;
  font-family: "Baumans";
}

.error_desc {
  font-size: var(--text-size-h3);
}
